* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    width: 100%;
    text-align: center;
}
nav {
    height: 50px;
    background-color:rgb(230, 249, 253);
    width: 100%;
    text-align: center;
    display: flex;

}
a {
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    color:rgb(50, 48, 48)
}

header {
    background-color: ghostwhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header q {
    padding: 20px;
}   

header img {
    max-width: 40%;
    border-radius: 50%;
}

main {
    background-color: rgb(230, 249, 253);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.defaultDesign {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}
.designArtikel {
    width: 400px;
    padding: 20px;
    background-color: ghostwhite;
    box-shadow: 0 0 30px grey;
}


#kontakt {
    background-color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

#kontakt > .designArtikel {
    background-color: rgb(230, 249, 253);
}



footer {
    width: 100%;
    background-color: rgb(127, 128, 129);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(50, 48, 48);
    color:rgb(230, 249, 253)
}

footer p {
    max-width: 400px;
    padding: 20px;
    gap: 20px;
    font-size: 0.8rem;
}

footer p a {
    color: ghostwhite;
}