* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    width: 100%;
    text-align: center;
}
nav {
    height: 50px;
    background-color:rgb(230, 249, 253);
}

header {
    background-color: ghostwhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header q {
    padding: 20px;
}   

header img {
    max-width: 40%;
    border-radius: 50%;
}

main {
    background-color: rgb(230, 249, 253);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#erfolge {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}
.designArtikel {
    width: 400px;
    padding: 20px;
    background-color: ghostwhite;
    box-shadow: 0 0 30px grey;
}

#kontakt {
    background-color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}





footer {
    background-color: rgb(127, 128, 129);
}